<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.demo.mbg.mapper.PmsProductMapper">
    <resultMap id="BaseResultMap" type="com.macro.mall.demo.mbg.model.PmsProduct">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="stock" jdbcType="INTEGER" property="stock" />
        <result column="category_id" jdbcType="BIGINT" property="categoryId" />
        <result column="pic" jdbcType="VARCHAR" property="pic" />
        <result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description, price, stock, category_id, pic, publish_status, create_time, update_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pms_product
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByKeyword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from pms_product
        where name like concat('%',#{keyword},'%')
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from pms_product
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.macro.mall.demo.mbg.model.PmsProduct">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into pms_product (name, description, price,
        stock, category_id, pic,
        publish_status, create_time, update_time)
        values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
        #{stock,jdbcType=INTEGER}, #{categoryId,jdbcType=BIGINT}, #{pic,jdbcType=VARCHAR},
        #{publishStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.macro.mall.demo.mbg.model.PmsProduct">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into pms_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="stock != null">
                stock,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="publishStatus != null">
                publish_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                #{stock,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="publishStatus != null">
                #{publishStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.demo.mbg.model.PmsProduct">
        update pms_product
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="stock != null">
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="publishStatus != null">
                publish_status = #{publishStatus,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.macro.mall.demo.mbg.model.PmsProduct">
        update pms_product
        set name = #{name,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        price = #{price,jdbcType=DECIMAL},
        stock = #{stock,jdbcType=INTEGER},
        category_id = #{categoryId,jdbcType=BIGINT},
        pic = #{pic,jdbcType=VARCHAR},
        publish_status = #{publishStatus,jdbcType=INTEGER},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updatePublishStatus">
        update pms_product
        set publish_status = #{publishStatus}
        where id = #{id}
    </update>
</mapper>
